<h1>Landing#index</h1>
<p>Find me in app/views/landing/index.html.erb</p>

<form
  method="post"
  data-controller="bridge--form">

  <!-- form elements -->

  <button
    class="button"
    type="submit"
    data-bridge--form-target="submit"
    data-bridge-title="Submit_yas">
    Submit Form
  </button>

</form>