<!-- Base button from form_component_submit.xml-->
<form
  method="post"
  data-controller="bridge--form"
  type="submit"
  data-bridge--form-target="submit"
  data-bridge-title="Авторизация"> 
</form>

<%= link_to "Link title", "#", data: {
  controller: "bridge--alert",
  action: "bridge--alert#show",
  bridge_title: "Overridden Alert Title"
} %>

